<h1>Hello Fellow Ping Pong Enthusiasts</h1>
<h2>Register As A Competitor</h2>
<p>Register as a ping pong player and get notifications of new tournaments and updates</p>
<p></p>
<h2>View Player Information</h2>
<p>View Information on various players</p>
<p></p>
<h2>View Tournament Information</h2>
<p>View Information on previous tournament</p>
<p></p>
<h2>Submit Scores</h2>
<p>Submit tournament or social match scores</p>
<p></p>

