<h1>Hello Fellow Ping Pong Enthusiasts</h1>
<h2>Register As A Competitor</h2>
<p>Register as a ping pong player and get notifications of new tournaments and updates</p>
<a href="/register" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Player Registration</a>
<p></p>
<h2>View Player Information</h2>
<p>View Information on various players</p>
<a href="/player_info" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Player Info</a>
<p></p>
<h2>View Tournament Information</h2>
<p>View Information on previous tournament</p>
<a href="/tournaments" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Tournament Info</a>
<p></p>
<h2>Submit Scores</h2>
<p>Submit tournament or social match scores</p>
<a href="/scores" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Submit Scores</a>
<p></p>
<a href="/admin" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Admin Login</a>

